<%- include("./partials/header") %>
<div id="landing-body-black">
   <div id="jumbointro" class="jumbotron jumbotron-fluid">
          <div class="container text-center">
            <h1 class="display-4">Welcome to BlitzHub</h1>
            <p class="lead">BlitzHub provides you platform to review over 500 plus handpicked Campgrounds and Blogs submitted to us by users like you.</p>
            <a class="btn btn-success btn-lg" href="/register">Sign up</a>
          </div>
        </div>

 <div class="container">
 
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="camp-content">
      <div id="landing-header-camp">
      <h1>BlitzCamp!</h1>
     <a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
     </div>
    </div>

    <div  class="row camp-feature">
      <div class="col-sm-6">
        <div class="card" id= "camp-feature-1">
          <div class="card-body">
            <h5 class="card-title">Planning a Trip?</h5>
            <p class="card-text">BlitzCamps is the best place that has 100 plus reviews on campgrounds by campers from all over the world</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" id= "camp-feature-2">
          <div class="card-body">
            <h5 class="card-title">Share Campground that you love</h5>
            <p class="card-text">The fact that blitzCamps provides you the premium expirence is by support of campers like you from all over the world. Blizcamp provides you a very simple and user 
              friendly interface to add new campgrounds.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card" id= "camp-feature-3">
          <div class="card-body">
            <h5 class="card-title">Instant uploads and No Scams!</h5>
            <p class="card-text">
              BlitzCamp provides you platform to add campground to our public showcase within no time. However it will be completly verified by our experts. If the campground is not valid it will be removed within 2 to 3 hours.
            </p>
          </div>
        </div>
      </div>
    </div>
 </div>
</div>
<div id="landing-body-light">
  <div id="landpage-post-head" class="col-lg-12">
    <div class="home-head-post">
      <h1 id="head-title">BlitzBlogs</h1>
      <p>
       Platform to showacse your talent
      </p>
      <a class="btn btn-outline-danger btn-lg" href="/BlitzPosts">Get Started</a>
    </div>
 </div>

   <div class="row d-flex flex-wrap ">
     <div id="div-what" class="col-lg-12">
      <div class="container">
         <h1 class="head-question">What is BlitzBlog?</h1>
         <p>
           BlitzBlog showcase the top 20 Posts from all over the world.
         </p>
      </div>
  </div>
  <div id="div-work" class="col-lg-12">
    <div class="container">
     <h1 class="head-question">
       How it works?
     </h1>
      <h3 class="head-question" style="font-size: 30px;">Its Simple!</h3>
     <p>
       1) Just Add the post about anything.
       <br><br>
       2) Top 20 Post will be selected every month. 
       <br><br>
       3) If your Post is not selected in top 20, Dont worry we wil showcase your post for 2 to 3 days after its upload.
     </p>
     </div>
  </div>
  </div>
</div>
<%- include("./partials/footer") %>
