.showcase-img{
    width: 350px;
    height: 300px;
}
.camp-desc{
    font-family: 'Heebo', sans-serif;
    font-size: 22px
}

#reviewCard{
    padding: 4%;
}
 #delete-camp-form{
     display: inline;
 }
 #delete-camp-form{
     float : right;
 }
 .camp-jumbo{
    background-color: #5f5f5f;
    text-align:center;
    background-color: #d5d4d4
 }
 .campground-show{
    background-color: #e7e9e9;
 }
 #camp-name{
     color: black;
     font-size: 20px;
    
 }

 .add-campground{
    color: #000000;
    background-color: #babebe;
    border-color: #000000;
 }