<%- include("../partials/header.ejs") %>
<div class="contaner">
<div class="ui placeholder segment">
    <div class="ui two column very relaxed stackable grid">
        <div class="column">
            <div class="ui form">
                <form action="/register" method="POST">
                    <div class="field">
                        <label>Username</label>
                        <div class="ui left icon input">
                          <input type="text" placeholder="Username" name="username">
                          <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <div class="ui left icon input">
                          <input type="text" placeholder="someone@gmail.com" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                          <i class="envelope icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Create Password</label>
                        <div class="ui left icon input">
                          <input type="password"  name="password" placeholder="Password" >
                          <i class="lock icon"></i>
                        </div>
                    </div>
                    <button class="ui blue submit button">Login</button>
                   </form>
            </div>
        </div>
            <div class="middle aligned column">
                <a href="/login">
                 <div class="ui big button">
                   <i class="signup icon"></i>
                  Login
                 </div>
                </a>
            </div>
        </div>
</div>
</div>
<%- include("../partials/footer") %>